@keyframes fade-in
{
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

body {
    background-color: #111111;
    font-family: courier;
}

#master-div
{
    position: relative;
    top: 14vh; 
}

#title-div {
    position: relative; 
    font-size: 9vh; 
    left: 20vw; 
    width: 60vw;
    height: 20vw;
    color: white;
    text-align: center;
    animation: fade-in;
    animation-fill-mode: both;
    animation-duration: 1s;
    /*background-color: blue;*/
}


#desc-div {
    color: white;
    height: 5vh;
    position: relative; 
    left: 10vw; 
    width: 80vw;
    font-size: 3vh; 
    text-align: center;
    font-weight: bold; 
    animation: fade-in; 
    animation-delay: 1s; 
    animation-duration: 1s; 
    animation-fill-mode: both; 
}


#button-row-div {
    position: relative;  
}

#repo-button {
    position: absolute; 
    top: 5vh;
    left: 10vw; 
    width: 30vw; 
    animation: fade-in; 
    animation-delay: 2s; 
    animation-duration: 1s; 
    animation-fill-mode: both; 
}

#learn-more-button {
    position: absolute; 
    top: 5vh;
    right: 10vw;
    width: 30vw;
    animation: fade-in; 
    animation-delay: 3s; 
    animation-duration: 1s; 
    animation-fill-mode: both; 
}

.landing-button {
    background-color: #880088; 
    color: white; 
    text-align: center;
    padding: 3vh; 
    font-size: 3vh; 
    font-weight: bold; 
}

.landing-button:hover {
    background-color: #440044;
    color: white; 
}

